h1{font-size: 200%;
    color: #db0404;
    text-align: center;

}
h1{border: solid;
    border-color: black;
    border-width: 5px;


}

h2{font-size: 150%;
    color: #5a5757;
    text-align: center;

}
  
h3{font-size: 150%;
    color: #5a5757;
    text-align: center;

}
